IMAGE_LIST = mxp ipl ipl_cust uboot kernel rootfs miservice customer appconfigs logo

FLASH_TYPE = nor
BENCH = no
PHY_TEST = no
PAT_TABLE  = spi
BOOT_TYPE = fastboot

TFTPDOWNLOADADDR:=0x21000000
KERNELBOOTADDR:=0x20500000
INITRAMFSLOADADDR:=0x21000000

USR_MOUNT_BLOCKS:=miservice customer appconfigs
ENV_CFG = /dev/mtd0 0x6E000 0x1000 0x1000 1
ENV_CFG1 = /dev/mtd0 0x6F000 0x1000 0x1000 1

ipl$(RESOUCE) = $(PROJ_ROOT)/board/$(CHIP)/boot/ipl/fastboot/IPL.bin
ipl$(PATSIZE) = 0x10000

ipl_cust$(RESOUCE) = $(PROJ_ROOT)/board/$(CHIP)/boot/ipl/fastboot/IPL_CUST.bin
ipl_cust$(PATSIZE) = 0x10000

mxp$(RESOUCE) = $(IMAGEDIR)/boot/MXP_SF.bin
mxp$(PATSIZE) = 0x10000
mxp$(BOOTTAB) = "$(ipl$(PATSIZE))(IPL),$(ipl_cust$(PATSIZE))(IPL_CUST),$(mxp$(PATSIZE))(MXPT),$(uboot$(PATSIZE))(UBOOT),0x2000(UBOOT_ENV)"
mxp$(SYSTAB) = "$(kernel$(PATSIZE))(KERNEL),$(key_cust$(PATSIZE))(KEY_CUST),$(logo$(PATSIZE))(LOGO),$(rootfs$(PATSIZE))(rootfs),$(miservice$(PATSIZE))(miservice),$(customer$(PATSIZE))(customer),$(appconfigs$(PATSIZE))(appconfigs)"

uboot$(RESOUCE) = $(PROJ_ROOT)/board/$(CHIP)/boot/$(FLASH_TYPE)/uboot/u-boot.xz.img.bin
uboot$(PATSIZE) = 0x3E000

kernel$(RESOUCE)   = $(PROJ_ROOT)/release/$(PRODUCT)/$(CHIP)/$(BOARD)/$(TOOLCHAIN)/$(TOOLCHAIN_VERSION)/bin/kernel/$(FLASH_TYPE)/uImage.mz
kernel$(PATSIZE)   = 0x00210000
kernel$(BOOTENV)   = $(KERNEL_BOOT_ENV) loglevel=0
kernel$(BOOTCMD)   = sf read $(KERNELBOOTADDR) \$${sf_kernel_start} \$${sf_kernel_size}\;

key_cust$(PATSIZE) = 0x10000

logo$(RESOUCE) = $(IMAGEDIR)/logo
logo$(PATSIZE) = 0x20000

wifi24mclkcmd = mw 1f001cc0 11
wifirstoffcmd = gpio out 8 0
wifirstoncmd = gpio out 8 1

rootfs$(RESOUCE)   = $(OUTPUTDIR)/rootfs
rootfs$(FSTYPE)    = ramfs
rootfs$(PATSIZE)   = 0x00640000
rootfs$(BOOTENV)   = rootfstype=ramfs initrd=$(INITRAMFSLOADADDR),$(rootfs$(PATSIZE))
rootfs$(BOOTCMD)   = mxp r.info rootfs\; sf read $(INITRAMFSLOADADDR) \$${sf_part_start} \$${sf_part_size}\;

miservice$(RESOUCE)   = $(OUTPUTDIR)/miservice/config
miservice$(FSTYPE)    = squashfs
miservice$(PATSIZE)   = 0x00360000
miservice$(MOUNTTG)   = /config
miservice$(MOUNTPT)   = /dev/mtdblock5

customer$(RESOUCE)   = $(OUTPUTDIR)/customer
customer$(FSTYPE)    = squashfs
customer$(PATSIZE)   = 0x0002D0000
customer$(MOUNTTG)   = /customer
customer$(MOUNTPT)   = /dev/mtdblock6

appconfigs$(RESOUCE)   = $(OUTPUTDIR)/appconfigs
appconfigs$(FSTYPE)    = jffs2
appconfigs$(PATSIZE)   = 0x00E0000
appconfigs$(MOUNTTG)   = /appconfigs
appconfigs$(MOUNTPT)   = mtd:appconfigs
