BOOT_IMAGE_LIST = ipl ipl_cust mxp uboot
IMAGE_LIST = boot kernel rootfs miservice customer appconfigs logo
OTA_IMAGE_LIST = boot kernel logo miservice customer appconfigs

FLASH_TYPE = nor
BENCH = no
PHY_TEST = no
PAT_TABLE  = spi

FLASH_WP_RANGE = 0x00000000 0x007FFFFF

TFTPDOWNLOADADDR:=0x21000000
KERNELBOOTADDR:=0x22000000
INITRAMFSLOADADDR:=0x23000000

USR_MOUNT_BLOCKS:=miservice customer appconfigs
ENV_CFG = /dev/mtd7 0x1EE000 0x1000 0x1000 1
ENV_CFG1 = /dev/mtd7 0x1EF000 0x1000 0x1000 1

ipl$(RESOUCE) = $(PROJ_ROOT)/board/$(CHIP)/boot/ipl/IPL.bin
ipl$(PATSIZE) = 0x10000

ipl_cust$(RESOUCE) = $(PROJ_ROOT)/board/$(CHIP)/boot/ipl/IPL_CUST.bin
ipl_cust$(PATSIZE) = 0x10000

mxp$(RESOUCE) = $(IMAGEDIR)/boot/MXP_SF.bin
mxp$(PATSIZE) = 0x10000
mxp$(BOOTTAB) = "$(ipl$(PATSIZE))(IPL),$(ipl_cust$(PATSIZE))(IPL_CUST),$(mxp$(PATSIZE))(MXPT),$(uboot$(PATSIZE))(UBOOT)"
mxp$(SYSTAB) = "$(kernel$(PATSIZE))(KERNEL),$(key_cust$(PATSIZE))(KEY_CUST),$(logo$(PATSIZE))(LOGO),$(miservice$(PATSIZE))(miservice),$(customer$(PATSIZE))(customer),$(appconfigs$(PATSIZE))(appconfigs),$(rootfs$(PATSIZE))(rootfs),0x2000(UBOOT_ENV)"

uboot$(RESOUCE) = $(PROJ_ROOT)/board/$(CHIP)/boot/$(FLASH_TYPE)/uboot/u-boot.xz.img.bin
uboot$(PATSIZE) = 0x40000

boot$(RESOUCE) = $(IMAGEDIR)/boot.bin
boot$(PATSIZE) = $(shell printf 0x%x $(shell stat -c "%s" $(boot$(RESOUCE))))
boot$(OTABLK)  = /dev/mtdblock0

kernel$(RESOUCE)   = $(PROJ_ROOT)/release/$(PRODUCT)/$(CHIP)/$(BOARD)/$(TOOLCHAIN)/$(TOOLCHAIN_VERSION)/bin/kernel/$(FLASH_TYPE)/uImage.xz
kernel$(PATSIZE)   = 0x200000
kernel$(BOOTENV)   = $(KERNEL_BOOT_ENV)
kernel$(BOOTCMD)   = sf read $(KERNELBOOTADDR) \$${sf_kernel_start} \$${sf_kernel_size}\;
kernel$(OTABLK) = /dev/mtdblock1

key_cust$(PATSIZE) = 0x10000

logo$(RESOUCE) = $(IMAGEDIR)/logo
logo$(PATSIZE) = 0x20000
logo$(OTABLK) = /dev/mtdblock3

wifi24mclkcmd = mw 1f001cc0 11
wifirstoffcmd = gpio out 8 0
wifirstoncmd = gpio out 8 1

rootfs$(RESOUCE)   = $(OUTPUTDIR)/rootfs
rootfs$(FSTYPE)    = squashfs
rootfs$(PATSIZE)   = 0x1EE000
rootfs$(BOOTENV)   = root=/dev/mtdblock7 rootfstype=squashfs ro init=/linuxrc

miservice$(RESOUCE)   = $(OUTPUTDIR)/miservice/config
miservice$(FSTYPE)    = squashfs
miservice$(PATSIZE)   = 0x00370000
miservice$(MOUNTTG)   = /config
miservice$(MOUNTPT)   = /dev/mtdblock4
miservice$(OTABLK)    = $(miservice$(MOUNTPT))

customer$(RESOUCE)   = $(OUTPUTDIR)/customer
customer$(FSTYPE)    = squashfs
customer$(PATSIZE)   = 0x001F0000
customer$(MOUNTTG)   = /customer
customer$(MOUNTPT)   = /dev/mtdblock5
customer$(OTABLK)   = $(customer$(MOUNTPT))

appconfigs$(RESOUCE)   = $(OUTPUTDIR)/appconfigs
appconfigs$(FSTYPE)    = jffs2
appconfigs$(PATSIZE)   = 0x0610000
appconfigs$(MOUNTTG)   = /appconfigs
appconfigs$(MOUNTPT)   = mtd:appconfigs
appconfigs$(OTABLK)    = /dev/mtdblock6
