IMAGE_LIST = mxp ipl ipl_cust uboot kernel logo rootfs miservice customer

FLASH_TYPE = nor
BENCH = no
PHY_TEST = no
PAT_TABLE  = spi

TFTPDOWNLOADADDR:=0x21000000
KERNELBOOTADDR:=0x22000000
INITRAMFSLOADADDR:=0x23000000

USR_MOUNT_BLOCKS:=miservice customer
ENV_CFG = /dev/mtd0 0x6E000 0x1000 0x1000 1
ENV_CFG1 = /dev/mtd0 0x6F000 0x1000 0x1000 1

ipl$(RESOUCE) = $(PROJ_ROOT)/board/$(CHIP)/boot/ipl/IPL.bin
ipl$(PATSIZE) = 0x10000

ipl_cust$(RESOUCE) = $(PROJ_ROOT)/board/$(CHIP)/boot/ipl/IPL_CUST.bin
ipl_cust$(PATSIZE) = 0x10000

mxp$(RESOUCE) = $(IMAGEDIR)/boot/MXP_SF.bin
mxp$(PATSIZE) = 0x10000
mxp$(BOOTTAB) = "$(ipl$(PATSIZE))(IPL),$(ipl_cust$(PATSIZE))(IPL_CUST),$(mxp$(PATSIZE))(MXPT),$(uboot$(PATSIZE))(UBOOT),0x2000(UBOOT_ENV)"
mxp$(SYSTAB) = "$(kernel$(PATSIZE))(KERNEL),$(logo$(PATSIZE))(LOGO),$(rootfs$(PATSIZE))(rootfs),$(miservice$(PATSIZE))(miservice),$(customer$(PATSIZE))(customer)"

uboot$(RESOUCE) = $(PROJ_ROOT)/board/$(CHIP)/boot/$(FLASH_TYPE)/uboot/u-boot.xz.img.bin
uboot$(PATSIZE) = 0x3E000

kernel$(RESOUCE)   = $(PROJ_ROOT)/release/$(PRODUCT)/$(CHIP)/$(BOARD)/$(TOOLCHAIN)/$(TOOLCHAIN_VERSION)/bin/kernel/$(FLASH_TYPE)/uImage.xz
kernel$(PATSIZE)   = 0x200000
kernel$(BOOTENV)   = $(KERNEL_BOOT_ENV)
kernel$(BOOTCMD)   = sf read $(KERNELBOOTADDR) \$${sf_kernel_start} \$${sf_kernel_size}\;

logo$(RESOUCE) = $(IMAGEDIR)/logo
logo$(PATSIZE) = 0x20000

rootfs$(RESOUCE)   = $(OUTPUTDIR)/rootfs
rootfs$(FSTYPE)    = squashfs
rootfs$(PATSIZE)   = 0x200000
rootfs$(BOOTENV)   = root=/dev/mtdblock3 rootfstype=squashfs ro init=/linuxrc

miservice$(RESOUCE)   = $(OUTPUTDIR)/miservice/config
miservice$(FSTYPE)    = squashfs
miservice$(PATSIZE)   = 0x00380000
miservice$(MOUNTTG)   = /config
miservice$(MOUNTPT)   = /dev/mtdblock4

customer$(RESOUCE)   = $(OUTPUTDIR)/customer
customer$(FSTYPE)    = jffs2
customer$(PATSIZE)   = 0x007F0000
customer$(MOUNTTG)   = /customer
customer$(MOUNTPT)   = /dev/mtdblock5
