IMAGE_LIST = cis ipl ipl_cust uboot kernel rootfs miservice customer
FLASH_TYPE = spinand
UBI_MLC_TYPE = 0
PAT_TABLE  = ubi
PHY_TEST = no
#overwrite CIS(BL0,BL1,UBOOT) PBAs
CIS_PBAs = 10 0 0
CIS_COPIES = 5
USR_MOUNT_BLOCKS:=miservice customer
ENV_CFG = /dev/mtd6 0x00000 0x1000 0x20000 2
ENV_CFG1 = /dev/mtd7 0x00000 0x1000 0x20000 2

cis$(RESOUCE) = $(IMAGEDIR)/cis.bin
cis$(DATASIZE) = 0x40000
cis$(PGSIZE) = 2k
cis$(COPIES) = $(CIS_COPIES)
cis$(PATSIZE) = 0x140000
cis$(BOOTTAB) = $(ipl$(MTDPART)),$(ipl_cust$(MTDPART)),$(uboot$(MTDPART))
cis$(SYSTAB) = $(kernel$(MTDPART)),-(UBI)

ipl$(RESOUCE) = $(PROJ_ROOT)/board/$(CHIP)/boot/ipl/IPL.bin
ipl$(DATASIZE) = 0x20000
ipl$(COPIES) = 3
ipl$(BKCOUNT) = 2
ipl$(PATSIZE) = $(call multiplyhex, $(ipl$(COPIES)), $(ipl$(DATASIZE)))
ipl$(PATCOUNT) = 2
ipl$(MTDPART) = $(ipl$(DATASIZE))@$(cis$(PATSIZE))(IPL0)$(ipl$(BKCOUNT)),$(ipl$(DATASIZE))(IPL1)$(ipl$(BKCOUNT))

ipl_cust$(RESOUCE) = $(PROJ_ROOT)/board/$(CHIP)/boot/ipl/IPL_CUST.bin
ipl_cust$(DATASIZE) = 0x20000
ipl_cust$(COPIES) = 3
ipl_cust$(BKCOUNT) = 2
ipl_cust$(PATSIZE) = $(call multiplyhex, $(ipl_cust$(COPIES)), $(ipl_cust$(DATASIZE)))
ipl_cust$(PATCOUNT) = 2
ipl_cust$(MTDPART) = $(ipl_cust$(DATASIZE))(IPL_CUST0)$(ipl_cust$(BKCOUNT)),$(ipl_cust$(DATASIZE))(IPL_CUST1)$(ipl_cust$(BKCOUNT))


uboot$(RESOUCE) = $(PROJ_ROOT)/board/$(CHIP)/boot/$(FLASH_TYPE)/uboot/u-boot_$(FLASH_TYPE).xz.img.bin
uboot$(DATASIZE) = 0x40000
uboot$(COPIES) = 3
uboot$(BKCOUNT) = 4
uboot$(PATSIZE) = $(call multiplyhex, $(uboot$(COPIES)), $(uboot$(DATASIZE)))
uboot$(PATCOUNT) = 2
uboot$(MTDPART) =$(uboot$(DATASIZE))(UBOOT0)$(uboot$(BKCOUNT)),$(uboot$(DATASIZE))(UBOOT1)$(uboot$(BKCOUNT)),0x20000(ENV0)1,0x20000(ENV1)1


kernel$(RESOUCE)   = $(PROJ_ROOT)/release/$(PRODUCT)/$(CHIP)/$(BOARD)/$(TOOLCHAIN)/$(TOOLCHAIN_VERSION)/bin/kernel/$(FLASH_TYPE)/uImage.xz
kernel$(PATSIZE)   = 0x500000
kernel$(BOOTENV)   = $(KERNEL_BOOT_ENV)
kernel$(MTDPART)   = $(kernel$(PATSIZE))(KERNEL),$(kernel$(PATSIZE))(RECOVERY)

rootfs$(RESOUCE)   = $(OUTPUTDIR)/rootfs
rootfs$(FSTYPE)    = ubifs
rootfs$(PATSIZE)   = 0xA00000
rootfs$(BOOTENV)   = console=ttyS0,115200 ubi.mtd=UBI,2048 root=ubi:rootfs rw rootfstype=ubifs init=/linuxrc rootwait=1

miservice$(RESOUCE)   = $(OUTPUTDIR)/miservice/config
miservice$(FSTYPE)    = ubifs
miservice$(PATSIZE)   = 0xA00000
miservice$(MOUNTTG)  = /config
miservice$(MOUNTPT)  = ubi0:miservice
miservice$(OPTIONS)   = rw

customer$(RESOUCE)   = $(OUTPUTDIR)/customer
customer$(FSTYPE)    = ubifs
customer$(PATSIZE)   = 0x5000000
customer$(MOUNTTG)  = /customer
customer$(MOUNTPT)  = ubi0:customer
customer$(OPTIONS)   = rw
