BOOT_IMAGE_LIST = cis ipl ipl_cust uboot
IMAGE_LIST = boot logo kernel rootfs_recovery rootfs miservice customer appconfigs
OTA_IMAGE_LIST = boot logo kernel rootfs miservice customer appconfigs
FLASH_TYPE = spinand
UBI_MLC_TYPE = 0
PAT_TABLE  = ubi
MTDPARTS   = "mtdparts=nand0:$(boot$(MTDPART)),$(cis$(SYSTAB))"
PHY_TEST = no
#overwrite CIS(BL0,BL1,UBOOT) PBAs
CIS_PBAs = 10 0 0
CIS_COPIES = 5
USR_MOUNT_BLOCKS:=miservice customer appconfigs
ENV_CFG = /dev/mtd6 0x00000 0x1000 0x20000 2
ENV_CFG1 = /dev/mtd7 0x00000 0x1000 0x20000 2
REBOOT_TO_RECOVERY = env=\`cat /proc/cmdline | sed 's/root\=ubi:rootfs rw rootfstype\=ubifs/root\=\/dev\/mtdblock5 ro rootfstype=squashfs/g'\`; \\/etc/fw_setenv bootargs \$${env}; \\reboot;
REBOOT_TO_NORMAL   = env=\`cat /proc/cmdline | sed 's/root\=\/dev\/mtdblock5 ro rootfstype\=squashfs/root\=ubi:rootfs rw rootfstype=ubifs/g'\`; \\/etc/fw_setenv bootargs \$${env}; \\reboot;

cis$(RESOUCE) = $(IMAGEDIR)/cis.bin
cis$(DATASIZE) = 0x40000
cis$(PGSIZE) = 2k
cis$(COPIES) = $(CIS_COPIES)
cis$(PATSIZE) = 0x140000
cis$(BOOTTAB) = $(ipl$(MTDPART)),$(ipl_cust$(MTDPART)),$(uboot$(MTDPART))
cis$(SYSTAB) = $(logo$(MTDPART)),$(kernel$(MTDPART)),$(rootfs_recovery$(MTDPART)),-(UBI)

ipl$(RESOUCE) = $(PROJ_ROOT)/board/$(CHIP)/boot/ipl/IPL.bin
ipl$(DATASIZE) = 0x20000
ipl$(COPIES) = 3
ipl$(BKCOUNT) = 2
ipl$(PATSIZE) = $(call multiplyhex, $(ipl$(COPIES)), $(ipl$(DATASIZE)))
ipl$(PATCOUNT) = 2
ipl$(MTDPART) = $(ipl$(DATASIZE))@$(cis$(PATSIZE))(IPL0)$(ipl$(BKCOUNT)),$(ipl$(DATASIZE))(IPL1)$(ipl$(BKCOUNT))

ipl_cust$(RESOUCE) = $(PROJ_ROOT)/board/$(CHIP)/boot/ipl/IPL_CUST.bin
ipl_cust$(DATASIZE) = 0x20000
ipl_cust$(COPIES) = 3
ipl_cust$(BKCOUNT) = 2
ipl_cust$(PATSIZE) = $(call multiplyhex, $(ipl_cust$(COPIES)), $(ipl_cust$(DATASIZE)))
ipl_cust$(PATCOUNT) = 2
ipl_cust$(MTDPART) = $(ipl_cust$(DATASIZE))(IPL_CUST0)$(ipl_cust$(BKCOUNT)),$(ipl_cust$(DATASIZE))(IPL_CUST1)$(ipl_cust$(BKCOUNT))

uboot$(RESOUCE) = $(PROJ_ROOT)/board/$(CHIP)/boot/$(FLASH_TYPE)/uboot/u-boot_$(FLASH_TYPE).xz.img.bin
uboot$(DATASIZE) = 0x40000
uboot$(COPIES) = 3
uboot$(BKCOUNT) = 4
uboot$(PATSIZE) = $(call multiplyhex, $(uboot$(COPIES)), $(uboot$(DATASIZE)))
uboot$(PATCOUNT) = 2
uboot$(MTDPART) =$(uboot$(DATASIZE))(UBOOT0)$(uboot$(BKCOUNT)),$(uboot$(DATASIZE))(UBOOT1)$(uboot$(BKCOUNT)),0x60000(ENV)

boot$(RESOUCE) = $(IMAGEDIR)/boot.bin
boot$(PATSIZE) = $(shell printf 0x%x $(shell stat -c "%s" $(boot$(RESOUCE))))
boot$(MTDPART) = $(boot$(PATSIZE))(BOOT),0x60000(ENV)
boot$(OTABLK)  = /dev/mtdblock0

wifi24mclkcmd = mw 1f001cc0 11
wifirstoffcmd = gpio out 8 0
wifirstoncmd = gpio out 8 1
logo$(RESOUCE) = $(IMAGEDIR)/logo
logo$(PATSIZE) = 0x60000
logo$(MTDPART) = $(logo$(PATSIZE))(LOGO)
logo$(OTABLK)  = /dev/mtdblock2

kernel$(RESOUCE)   = $(PROJ_ROOT)/release/$(PRODUCT)/$(CHIP)/$(BOARD)/$(TOOLCHAIN)/$(TOOLCHAIN_VERSION)/bin/kernel/$(FLASH_TYPE)/uImage.xz
kernel$(PATSIZE)   = 0x500000
kernel$(BOOTENV)   = $(KERNEL_BOOT_ENV)
kernel$(MTDPART)   = $(kernel$(PATSIZE))(KERNEL),$(kernel$(PATSIZE))(RECOVERY)
kernel$(OTABLK)  = /dev/mtdblock3

rootfs_recovery$(RESOUCE)   = $(OUTPUTDIR)/rootfs_recovery
rootfs_recovery$(FSTYPE)    = squashfs
rootfs_recovery$(PATSIZE)   = 0x300000
rootfs_recovery$(MTDPART)   = $(rootfs_recovery$(PATSIZE))(rootfs_recovery)

rootfs$(RESOUCE)   = $(OUTPUTDIR)/rootfs
rootfs$(FSTYPE)    = ubifs
rootfs$(PATSIZE)   = 0xA00000
rootfs$(BOOTENV)   = console=ttyS0,115200 ubi.mtd=UBI,2048 root=ubi:rootfs ro rootfstype=ubifs init=/linuxrc rootwait=1
rootfs$(OTABLK)    = /dev/ubi0_0

miservice$(RESOUCE)   = $(OUTPUTDIR)/miservice/config
miservice$(FSTYPE)    = ubifs
miservice$(PATSIZE)   = 0xA00000
miservice$(MOUNTTG)  = /config
miservice$(MOUNTPT)  = ubi0:miservice
miservice$(OPTIONS)   = rw
miservice$(OTABLK)    = /dev/ubi0_1

customer$(RESOUCE)   = $(OUTPUTDIR)/customer
customer$(FSTYPE)    = ubifs
customer$(PATSIZE)   = 0x4E00000
customer$(MOUNTTG)  = /customer
customer$(MOUNTPT)  = ubi0:customer
customer$(OPTIONS)   = rw
customer$(OTABLK)    = /dev/ubi0_2

appconfigs$(RESOUCE)   = $(OUTPUTDIR)/appconfigs
appconfigs$(FSTYPE)    = ubifs
appconfigs$(PATSIZE)   = 0x500000
appconfigs$(MOUNTTG)  = /appconfigs
appconfigs$(MOUNTPT)  = ubi0:appconfigs
appconfigs$(OPTIONS)   = rw
appconfigs$(OTABLK)    = /dev/ubi0_3